
body {
  background-color: #2B283A;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;

}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  background-color: #ffffff;
  border-radius: 8px;
}

h1 {
  margin: 0;
}

nav {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #F55A5A;
  color: #ffffff;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.logo {
  width: 24px;
}

.Main {
  margin-top: 24px;
  margin-left: 24px;
  padding-right: 24px;
}

.title--nav {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
}

.section {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}


.cover {
  margin-right: 24px;
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
}

svg {
  width: 24px;
height: 24px;
}

.locate {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
}

a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}


.title--card {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;

color: #2B283A;
}


.date {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  
  color: #2B283A;
}

.desc {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2B283A;
}